*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(245, 191, 195);
}
.container{
    height: 90vmin;
    width: 90vmin;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size:4vmin;
    color:rgb(66, 95, 223);
}
#value{
    color:black;
    margin-top:20vmin;
    margin-bottom: 3vmin;
}
.counter >button{
   background-image: linear-gradient(white,rgb(0, 132, 255));
   color:white;
   font-size: 4vmin;
   font-weight: bold;
   border:none;
   padding:1vmin;
   border-radius: 1vmin;
   cursor:pointer;
}
